.wrapper{
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.accordion{
  width: 400px;
}
.item{
  background: grey;
  margin-top: 5px;
  padding: 10px 20px;
}
.title{
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content{
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s cubic-bezier(0,1,0,1);
}
.content.show{
  height: auto;
  max-height: 1000px;
  transition: 0.5s cubic-bezier(0,1,0,1);
}
